
@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
     <div class="alert alert-success">
        <h class="display-4">Soy la pagina CLIENTES</h>
    </div>
</div>


