
@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">Soy la pagina COMPRAS</h2>
    </div>
    
</div>
