@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4">Soy la pagina INDEX</h2>
    </div>
    
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
