@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <div class="alert alert-danger">
        <h1 class="display-4">No tienes permisos para acceder a esta pagina</h1>
    </div>
</div>
